
/* This is a comment */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  /* This is global styles*/

  /* this is for media query*/
  @media screen and (max-width:500px){
    header.primary nav ul{
      flex-direction:column;
    }
      header.primary nav ul{
        margin-bottom:10px;
      }
  }
  /* These are utility classes*/
